<h2>Lista de Operadores</h2>
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Ci</th>
        <th scope="col">Nombres</th>
        <th scope="col">Apellidos</th>
        <th scope="col">Fecha de Nacimiento</th>
        <th scope="col">Telefono</th>
        <th scope="col">Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let operador of operadores">
        <th scope="row">{{operador.id}}</th>
        <td>{{operador.ci}}</td>
        <td>{{operador.nombres}}</td>
        <td>{{operador.paterno}} {{operador.materno}}</td>
        <td>{{operador.fecha_nacimiento}}</td>
        <td>{{operador.telefono}}</td>
        <td>
            <a type="button" class="btn btn-secondary" routerLink="/form/{{operador.id}}">Modificar </a>
            <a type="button" class="btn btn-danger" (click)="delete(operador.id)">Eliminar</a>
        </td>
      </tr>
    </tbody>
  </table>
