<h2>{{title}}</h2>
<div>
  <div class="form-group">
    <label for="ci">Ci (*)</label>
    <input [(ngModel)]="operador.ci" type="text" class="form-control" id="ci" placeholder="Ingresar Ci">
  </div>
  <div class="form-group">
    <label for="paterno">Apellido Paterno (*)</label>
    <input [(ngModel)]="operador.paterno" type="text" class="form-control" id="paterno" placeholder="Ingresar apellido Paterno">
  </div>
  <div class="form-group">
    <label for="materno">Apellido Materno</label>
    <input [(ngModel)]="operador.materno" type="text" class="form-control" id="materno" placeholder="Ingresar apellido Materni">
  </div>
  <div class="form-group">
    <label for="nombre">Nombre (*)</label>
    <input [(ngModel)]="operador.nombres" type="text" class="form-control" id="nombre" placeholder="Ingresar Nombre">
  </div>
  <div class="form-group">
    <label for="nombre">Fecha de Nacimiento (*)</label>
    <input [(ngModel)]="operador.fecha_nacimiento" type="text" class="form-control" id="nombre" placeholder="Ingresar decha de nacimiento">
    <small id="emailHelp" class="form-text text-muted">AAAA-MM-DD ejemplo 2015-06-19</small>
  </div>
  <div class="form-group">
    <label for="telefono">Telefono</label>
    <input type="text" [(ngModel)]="operador.telefono" class="form-control" id="telefono" placeholder="Ingresar telefono">
  </div>

  <button (click)="saveOperator()" class="btn btn-primary">Submit</button>
</div>
<p class="text-info"><strong>Nota.-</strong> Los campos con * son obligatorios</p>
